.recommend{
    flex: 0.8;
    background-color: white;
    align-items: center;
    padding: 30px,20px;
    padding-bottom: 0;
}
.recommend >h2{
    margin-left: 5px;
    margin-bottom: 10px;
}
.rec_vid{
    display: flex;
    flex-wrap: wrap;
}